@model FindJobSolution.ViewModels.Catalog.JobInformations.JobInformationCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Tạo công việc mới</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo công việc mới</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
                <a class="btn btn-success" asp-action="index" asp-controller="JobInformation">Trở lại danh sách công việc</a>
        </div>
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="JobTitle" class="control-label"></label>
                            <input asp-for="JobTitle" class="form-control" />
                            <span asp-validation-for="JobTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="JobLevel" class="control-label"></label>
                            <input asp-for="JobLevel" class="form-control" />
                            <span asp-validation-for="JobLevel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="JobType" class="control-label"></label>
                            <input asp-for="JobType" class="form-control" />
                            <span asp-validation-for="JobType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea id="txt_details" asp-for="Description" rows="10" class="form-control" ></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WorkingLocation" class="control-label"></label>
                            <input asp-for="WorkingLocation" class="form-control" />
                            <span asp-validation-for="WorkingLocation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MinSalary" class="control-label"></label>
                            <input asp-for="MinSalary" class="form-control" />
                            <span asp-validation-for="MinSalary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaxSalary" class="control-label"></label>
                            <input asp-for="MaxSalary" class="form-control" />
                            <span asp-validation-for="MaxSalary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                <label asp-for="JobId" class="control-label"></label>
                                <select asp-for="JobId" asp-items="@ViewBag.JobName">
                                    <option>--Chọn công việc--</option>
                                </select>
                                <span asp-validation-for="JobId" class="text-danger"></span>
                        </div>
                            
                        <div class="form-group">
                            <label asp-for="JobInformationTimeStart" class="control-label"></label>
                            <input asp-for="JobInformationTimeStart" class="form-control" />
                            <span asp-validation-for="JobInformationTimeStart" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="JobInformationTimeEnd" class="control-label"></label>
                            <input asp-for="JobInformationTimeEnd" class="form-control" />
                            <span asp-validation-for="JobInformationTimeEnd" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
