@model FindJobSolution.ViewModels.Catalog.JobSeekers.JobSeekerUpdateRequest

@{
    ViewData["Title"] = "UserProfileEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="UserProfileEdit" enctype="multipart/form-data" method="post">
    <main>
        <div class="master_layout_container master_layout_background">
            <div class="master_layout_row">
                <div class="master_layout_col_3h2 master_layout_col_13">
                    <div class="vnwBox">
                        <p class="title border-bottom">
                            Nghề nghiệp của tôi
                            <ul class="sidebarMenu">
                                <li class="sidebarMenuItem">
                                    <a href="@Url.Action("UserProfile", "UserJobSeeker")">
                                        <span class="navIcon">
                                            <img src="~/assets/img/icon/person1.png" alt="">
                                        </span>
                                        <span class="textLabel">Hồ sơ của tôi</span>
                                    </a>

                                </li>
                                <li class="sidebarMenuItem">
                                    <a href="@Url.Action("UserJob", "UserJobSeeker")">
                                        <span class="navIcon">
                                            <img src="~/assets/img/icon/briefcase1.png" alt="">
                                        </span>
                                        <span class="textLabel">Việc làm của tôi</span>
                                    </a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="master_layout_col_3h2 master_layout_col_2">
                    <div class="vnwBox vnwBoxSmall">
                        <span class="headerTitle">Hồ sơ của tôi</span>
                    </div>
                    <div class="Block_Block__1rMJ_">
                        <div class="ContactInformation_contactInformationComponent__2Rwzr">
                            <h2 class="ContactInformation_blockTitle__VfSNg">Thông tin cá nhân</h2>
                            <div>
                                <div class="ContactInfoView_viewSectionWrapper__2SQdc">
                                    <div class="native-grid">
                                        <div class="roww">
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Tên</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <input asp-for="Name" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roww">
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Email</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <input asp-for="Email" class="form-control" readonly/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Điện thoại</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <input asp-for="PhoneNumber" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roww">
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Ngày sinh</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <input asp-for="Dob" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Quốc tịch</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <input asp-for="National" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roww">
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Giới tính</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <select asp-for="Gender" />
                                                            <option>Nam</option>
                                                            <option>Nữ</option>
                                                        </div>
                                                        <div style="position:relative">
                                                            <select asp-for="Gender" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Lương mong muốn</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <input asp-for="DesiredSalary" class="form-control" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roww">
                                            <div class="col-lg-66">
                                                <div>
                                                    <span class="contact-info-edit">Ngành nghề</span>
                                                    <div>
                                                            <select asp-for="jobId" asp-items="@ViewBag.JobName">
                                                                <option>--Chọn công việc--</option>
                                                            </select>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roww">
                                            <div class="undefied col-122">
                                                <div>
                                                    <span class="contact-info-edit">Địa chỉ</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <input asp-for="Address" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="roww">
                                            <div class="undefied col-122">
                                                <div>
                                                    <span class="contact-info-edit">Cv</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <div class="form-group">
                                                                <input asp-for="ThumbnailCv" type="file" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roww">
                                            <div class="undefied col-122">
                                                <div>
                                                    <span class="contact-info-edit">Tên Cv</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <div class="form-group">
                                                                <input asp-for="nameCv" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roww">
                                            <div class="undefied col-122">
                                                <div>
                                                    <span class="contact-info-edit">Ảnh đại diện</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <div class="form-group">
                                                                <input asp-for="ThumbnailAvatar" type="file" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="roww">
                                            <div class="undefied col-122">
                                                <div>
                                                    <span class="contact-info-edit">Tên ảnh đại diện</span>
                                                    <div>
                                                        <div style="position:relative">
                                                            <div class="form-group">
                                                                <input asp-for="nameAvatar" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-left:1px">
                                            <form asp-action="UserProfileEdit">
                                                <input type="submit" value="Lưu" class="btn btn-primary" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="master_layout_col_3h2 master_layout_col_13">
                    <div class="vnwBox" style="display:block">
                        <p class="title border-bottom">Việc làm bạn sẽ thích</p>
                        <div class="roww" style="margin:0px;">
                            <div class="vnmBox1" style="display:block">
                                <div class="joblove">
                                    <div class="joblove-row">
                                        <div class="khung">
                                            <div class="logobox">
                                                <img class="logo" src="~/assets/img/logo/logo.png">
                                            </div>
                                        </div>
                                        <div class="khung2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</form>

