@model FindJobSolution.ViewModels.Catalog.Jobs.JobDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Xóa công việc</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">ạn có chắc muốn xóa công việc này?</li>
    </ol>

    <div class="card mb-4">
        @*<div class="card-header">
        <a class="btn btn-success" asp-action="Create" asp-controller="User">Tạo người dùng mới</a>
        </div>*@
        <div class="card-body">
            <div class="table-responsive">

                <form asp-action="Delete">
                    <input type="submit" value="Xóa" class="btn btn-danger" /> |
                    <a class="btn btn-success" asp-action="index" asp-controller="jobseeker">Trở lại danh sách</a>
                </form>
            </div>
        </div>
    </div>
</div>
@*<h1>Xóa công việc</h1>

<h3>Bạn có chắc muốn xóa công việc này không</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="Id" type="hidden" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-success" asp-action="index" asp-controller="job">Trở lại danh sách công việc</a>
    </form>
</div>
*@