@using FindJobSolution.ViewModels.Common
@model PagedResult<FindJobSolution.ViewModels.Catalog.Report.ReportVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách phản hồi từ người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách phản hồi từ người dùng</li>
    </ol>

    <div class="card mb-4">
        @*<div class="card-header">
        <a class="btn btn-success" asp-action="Create" asp-controller="User">Tạo người dùng mới</a>
        </div>*@
        <div class="card-body">
            <div class="table-responsive">
                @*<p>
                <a asp-action="Create">Tạo nhà tuyển dụng mới</a>
                </p>*@
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Tên người dùng
                            </th>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                Thời gian
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.ActionLink("Xóa", "Delete", new {  id=item.id  }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>