@model FindJobSolution.ViewModels.System.UsersJobSeeker.JobseekerDeleteRequest

@{
    ViewData["Title"] = "Xóa người tìm việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>bạn có muốn xóa người tìm việc này</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="Id" type="hidden" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-success" asp-action="index" asp-controller="jobseeker">Trở lại danh sách người dùng</a>
    </form>
</div>
