@using FindJobSolution.ViewModels.System.User
@model UserLoginRequest

@{
    ViewData["Title"] = "LoginRecuiter";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="grid--flexbox">
        <div class="grid--35 min-height--100vh text-align--center" style="background:#010b1d">
            <div class="container--sidebar" style="min-height:80vh; position: relative;top: 50%; transform: translateY(-50%);">
                <a href="~/UserEmp/Index">
                    <img src="../assets/img/logo/logo_footer.png" />
                </a>
                <div>
                    <div class="container-slide" style="width:100% ; display: inline-block height: 70vh;align-items: center;justify-content: center; width: 100%; display: grid !important;">
                        <img src="../assets/img/hero/employer.jpg" style="width:100%" />
                    </div>
                </div>
            </div>

        </div>
        <div class="grid--65 grid--relative">
            <div class="width-percent--60 form-register-content margin--auto">
                <div class="col-12">
                    <h2 class="contact-title text-center">Đăng nhập</h2>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="form-contact contact_form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="text" name="UserName" asp-for="UserName" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Mật khẩu</label>
                                    <input class="form-control" type="password" name="Password" asp-for="Password" />
                                </div>
                            </div>
                            <div class="form-group" style="padding-left:35px">
                                    <input class="form-check-input" asp-for="RememberMe" type="checkbox" value="" />
                                    <label class="form-check-label">Nhớ mật khẩu</label>
                                </div>
                            <div class="col-12">
                                <input type="submit" value="Đăng nhập" class="button button-contactForm boxed-btn mr-4" />
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-info-bottom">
                <p class="px--30 py--20">
                    <lable style="font-family: Barlow">Chưa có tài khoản? </lable><span class="clicklink"><a asp-action="Create" asp-controller="UserRecuiter">Đăng ký</a></span>
                </p>
            </div>
        </div>
    </div>
</form>